{% extends 'base.html' %}

{% block content %}
    <form>
        <div class="form-group">
            <label for="cyclistSelect">Select Cyclist</label>
            <select id="cyclistSelect" class="form-control">
                {% for cyclist in cyclists %}
                    <option value="{{ cyclist.CID }}">{{ cyclist.CID }} - {{ cyclist.Name }} {{ cyclist.Surname }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock content %}