{% extends 'base.html' %}

{% block extra_css %}
    <style>
        .success {
            background-color: green;
            color: white;
        }
    </style>
{% endblock extra_css %}

{% block content %}
    <div class="card text-center success">
        <div class="card-body">
            <h3 class="card-title">Success!</h3>
            {% if success_message %}
                <p class="card-text">{{ success_message }}</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}